body{
    align-items: center;
}
#header {
    background-color: rgb(89, 175, 255);
    padding: 8px;
    text-align: center;
    font-size: xx-large;
}
.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    font-size: xx-large;
}
.profil p {
    text-align: justify;
    font-size: xx-large;
    padding: 40px;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(114, 114, 225);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.profil img {
    border-radius: 50%;
    align-content: center;
    height: 320px;
    width: 308px;
    border: 3px solid #ddd;
}
.galeri {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.kartu-aktivitas {
    text-align: center;
    display: flexbox;
    background-color: rgb(243, 201, 229);
    padding: 4px;
    border: 1px dashed #ddd;
    border-radius: 20px;
    width: 470px;
}
.kartu-aktivitas :hover{
    color: rgb(77, 73, 69);
}